In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('assets/purchase_dataset.csv')
data.head()

   UserID  PurchaseID             TIMESPSS DEVICE_TYPE
0    9558           1  2016-03-12 22:18:34      MOBILE
1    9558           1  2016-03-13 05:25:49      MOBILE
2    9558           1  2016-03-13 12:26:21      MOBILE
3    9657           2  2015-07-18 13:00:38       FIXED
4       1           3  2015-08-07 19:16:59       FIXED

Initially, we would only have a record of digital transactions made by the customer.
- MOBILE indicates UPI methods
- FIXED indicates Credit/Debit Cards

This data can be used to generate somewhat reliable spending thresholds for each customer.